.App-header{
background-color: #ffffff;
}
.logo{
height: "300px";
width: "300px";


}
.HeaderText{
    text-align: center;
    margin-top: -2%;

    font-family: 'sans-serif', Verdana, monospace;
    font: monospace, bold;
    color: white;
}